$grid-gutter: 16px
$grid-columns: 12
$grid-max: 100%

.container
    width: 100%
    margin: 0 auto


.row
    box-sizing: border-box


.row:before, .row:after
    content: " "
    display: table


.row:after 
    clear: both


[class*="grid-"]
    float: left
    padding: 0 $grid-gutter
    margin-bottom: 20px
    box-sizing: border-box
    color: #212121


@for $i from 1 through $grid-columns
    .grid-#{$i}
        width: 100% / $grid-columns * $i
  
.header
    width: 100vw
    text-align: left
    line-height: 50px

    > .title
        color: #212121 !important
        padding-left: 10px    

.cards
    max-width: 1200px
    margin: 0 auto
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

    .card
        color: #212121
        width: 100%
        font-weight: bold
        border-radius: 4px
        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.125)

        .title
            width: 100%
            display: block
            text-align: left
            padding: 10px
            font-size: 16px !important
        
        .descricao
            width: 100%
            display: block
            padding: 10px
            text-align: left
            font-weight: normal

        .actions
            width: 100%
            display: block
            height: 50px
            margin-top: 10px

            .button
                background: #2d5db6
                color: #ffff
                text-align: center
                border-radius: 4px
                padding: 10px
                float: right
                cursor: pointer
                margin-right: 5px


input,
textarea
    border: 1px solid #2d5db6
    box-sizing: border-box
    margin: 0
    outline: none
    padding: 10px

input[type="button"]
    -webkit-appearance: button
    cursor: pointer

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none

.input-group 
    margin: 0 0
    position: relative
    float: right

.input-group input[type='button']
    background-color: #2d5db6
    min-width: 38px
    width: auto
    transition: all 300ms ease
    color: #fff


.input-group .button-minus,
.input-group .button-plus
    font-weight: bold
    height: 38px
    padding: 0
    width: 38px
    position: relative


.input-group .quantity-field
    position: relative
    height: 38px
    left: -6px
    text-align: center
    width: 62px
    display: inline-block
    font-size: 13px
    margin: 0 0 5px
    resize: vertical

.button-plus 
    left: -13px


input[type="number"]
    -moz-appearance: textfield
    -webkit-appearance: none

