<div style="width: 100%;">
    <div class="header">
        <h2 class="title">Produtos</h2>
    </div>

    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="grid-3" *ngFor="let produto of produtos"> -->
    <div class="cards">
        <div class="card" *ngFor="let produto of produtos">
            <span class="title"> {{produto.Nome}} </span>
            <span class="descricao"> Preço: {{produto.Preco | currency: 'BRL'}} </span>
            <div class="actions">
                <a class="button" (click)="navigate(['detalhe', produto.Id])">
                    Ver mais
                </a>
                <a *ngIf="this.usuario == undefined || produto.Quantidade == 0; else selectValue" class="button"
                    (click)="addItem(produto)">
                    + Adicionar item
                </a>

                <ng-template #selectValue>
                    <div class="input-group">
                        <input type="button" value="-" class="button-minus" (click)="decrement(produto)">
                        <input type="number" step="1" [value]="produto.Quantidade" name="quantity"
                            class="quantity-field">
                        <input type="button" value="+" class="button-plus" (click)="increment(produto)">
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<!-- </div>
</div> -->