@mixin transition($args...) 
    -webkit-transition: $args
    -moz-transition: $args
    -ms-transition: $args
    -o-transition: $args
    transition: $args


@mixin transform($args...) 
    -webkit-transform: $args
    -moz-transform: $args
    -ms-transform: $args
    -o-transform: $args
    transform: $args
