<div class="header" style="color: #212121">
    <h2 class="title">Carrinho</h2>
</div>

<div class="card-row" *ngFor="let produto of carrinho">
    <div class="card-column">
        <div class="image">
        </div>
    </div>
    <div class="card-column">
        <h2>{{produto.Nome}}</h2>
        <span>Código: {{produto.Id}}</span>
    </div>
    <div class="card-column">
        <h4>Total: {{produto.Preco | currency: 'BRL'}}</h4>
        <span>Em estoque: {{produto.QuantidadeEstoque}}</span>

        <div class="input-group">
            <input type="button" value="-" class="button-minus" (click)="decrement(produto)">
            <input type="number" step="1" [value]="produto.Quantidade" name="quantity" class="quantity-field">
            <input type="button" value="+" class="button-plus" (click)="increment(produto)">
        </div>
    </div>
    <div class="card-column">
        <div class="alert-panel" *ngIf="produto.Quantidade < 10; else greaterThenTen">
            <span>Aviso! Comprar abaixo de 10 itens não tem desconto</span>
        </div>

        <ng-template #greaterThenTen>
            <div class="sucess-panel">
                <span>Seu desconto aparecerá no checkout</span>
            </div>
        </ng-template>
    </div>
</div>