*
    box-sizing: border-box

.card-column
    color: #212121
    float: left
    width: 33.33%
    padding: 5px

    @media screen and (max-width: 500px)
        width: 100%

.card-row::after
    content: ""
    clear: both
    display: table

.card-row
    display: flex
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.125)
    border-radius: 4px

    @media screen and (max-width: 500px)
        display: block


.alert-panel
    background: #d50000
    width: 100%
    text-align: left
    color: #ffffff
    font-weight: bold

    > span
        padding: 10px

.sucess-panel
    background: #00d560
    width: 100%
    text-align: left
    color: #ffffff
    font-weight: bold

    > span
        padding: 10px
        
.image
    background: #dcdcdc
    width: 100%
    height: 200px

    &::before
        content: 'Area para imagem'
        display: table
        margin: auto
        position: relative
        top: 45%


input,
textarea
    border: 1px solid #2d5db6
    box-sizing: border-box
    margin: 0
    outline: none
    padding: 10px

input[type="button"]
    -webkit-appearance: button
    cursor: pointer

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none

.input-group 
    margin: 20px 0
    position: relative

.input-group input[type='button']
    background-color: #2d5db6
    min-width: 38px
    width: auto
    transition: all 300ms ease
    color: #fff


.input-group .button-minus,
.input-group .button-plus
    font-weight: bold
    height: 38px
    padding: 0
    width: 38px
    position: relative


.input-group .quantity-field
    position: relative
    height: 38px
    left: -6px
    text-align: center
    width: 62px
    display: inline-block
    font-size: 13px
    margin: 0 0 5px
    resize: vertical

.button-plus 
    left: -13px


input[type="number"]
    -moz-appearance: textfield
    -webkit-appearance: none


.button
    background: #2d5db6
    color: #ffff
    text-align: center
    border-radius: 4px
    padding: 10px
    cursor: pointer
    margin-right: 5px