<div class="card-row">
    <div class="card-column">
        <div class="image">
        </div>
    </div>
    <div class="card-column">
        <h2>{{this.produto.Nome}}</h2>
        <span style="width: 100%; display: block;">Código: {{produto.Id}}</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime odit fuga id, suscipit voluptatibus dolores labore in architecto quidem? Voluptatum magni distinctio tempore architecto? Amet quibusdam laborum quidem dolorem odit.</span>
    </div>
    <div class="card-column">
        <h4>Total: {{this.produto.Preco | currency: 'BRL'}}</h4>
        <span>Em estoque: {{produto.QuantidadeEstoque}}</span>

        <br>
        <br>

        <a *ngIf="produto.Quantidade == 0; else selectValue" class="button" (click)="addItem(produto)">
            + Adicionar item
        </a>

        <ng-template #selectValue>
            <div class="input-group">
                <input type="button" value="-" class="button-minus" (click)="decrement(this.produto)">
                <input type="number" step="1" [value]="this.produto.Quantidade" name="quantity" class="quantity-field">
                <input type="button" value="+" class="button-plus" (click)="increment(this.produto)">
            </div>
        </ng-template>
        <br>
        <br>
        <div class="alert-panel" *ngIf="produto.Quantidade < 10; else greaterThenTen">
            <span>Aviso! Comprar abaixo de 10 itens não tem desconto</span>
        </div>

        <ng-template #greaterThenTen>
            <div class="sucess-panel">
                <span>Seu desconto aparecerá no checkout</span>
            </div>
        </ng-template>
    </div>
</div>