<div id="side" class="side-menu-container">
    <div class="side-item" (click)="this.navigate('/produtos')" >
        <a>Produtos</a>
    </div>

    <div class="side-item" *ngIf="usuario.Email !== undefined" (click)="this.navigate('/carrinho')">
        <a>Carrinho</a>
        <a class="badge" *ngIf="this.carrinho.length > 0"> {{this.carrinho.length}}</a>
    </div>

    <div class="side-item" (click)="entrar()" *ngIf="usuario.Email == undefined">
        <a>Entrar</a>
    </div>
    <div class="side-item" (click)="sair()" *ngIf="usuario.Email !== undefined">
        <a>Sair</a>
    </div>
</div>