@import ../../../_extensions/_theme/_layout/sass/funcs.sass

$side-menu-w: 25vh
$header-h: 50px

.side-menu-container 
    -webkit-transform: translateZ(0)
    -webkit-backface-visibility: hidden

    width: $side-menu-w
    height: 100%
    background-color: #cacaca
    color: white
    position: fixed
    top: $header-h
    left: 0
    z-index: 9
    visibility: hidden
    margin-top: 20px
    padding: 5px

    @include transition(transform .4s 0s, visibility 0s .4s)
    @include transform(translateX(-80px))

    &.slide-in 
        visibility: visible
        @include transform(translateX(0))
        @include transition(transform .4s 0s, visibility 0s 0s)
    
    > .side-item
        width: 100%
        height: 50px
        background: transparent
        text-align: left 
        line-height: 50px

        &:hover
            background: #636363
            
        > a
            cursor: pointer
            padding-left: 5px
            color: #212121

            &:hover
                color: #fff
    
        .badge
            padding: 5px
            width: 24px
            height: 24px
            border-radius: 50px
            color: #ffffff !important
            background: #212121
            font-weight: bold
            float: right
            line-height: 25px
            text-align: center
            margin-top: 10px
