<header>
  <a id="menu-trigger" (click)="openMenu($event)">
    <a style="cursor: pointer;" class="menu-stripe stripe-top" ></a>
  </a>
</header>

<side-bar [state]="opened"></side-bar>

<div id="main" class="page-content">
  <router-outlet></router-outlet>
</div>