@import _extensions/_theme/_layout/sass/funcs.sass

$burger-h: 22px
$burger-w: 26px

$menu-stripe-w: 26px
$menu-stripe-h: 3px
$menu-stripe-color: #000000
$menu-stripe-color-h: white

$header-h: 50px
$header-background: #707070
$side-menu-w: 25vh

* 
    margin: 0
    padding: 0


html 
    box-sizing: border-box


*,
*:before,
*:after 
    box-sizing: inherit


.cf:before,
.cf:after 
    content: " "
    display: table


.cf:after 
    clear: both


.cf 
    *zoom: 1




html,
body 
    height: 100%
    


body 
    font-family: "Helvetica Neue", sans-serif
    font-weight: 300
    overflow: hidden


header 
    background-color: $header-background
    height: $header-h
    width: 100%
    padding: 10px
    position: relative
    z-index: 10
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .5)
    position: sticky
    top: 0px
    z-index: 99


.menu-stripe 
    display: inline-block
    width: $menu-stripe-w
    height: $menu-stripe-h
    background: $menu-stripe-color
    position: relative

    &:before,
    &:after 
        content: ""
        display: inline-block
        width: $menu-stripe-w
        height: $menu-stripe-h
        background: $menu-stripe-color
        position: absolute
        left: 0
    

    &:before 
        top: -8px
    

    &:after 
        top: 8px


#menu-trigger 
    display: inline-block
    width: $burger-w
    height: $burger-h
    line-height: 15px
    position: absolute
    top: 40%
    left: 20px

    &.menu-clicked 
        .menu-stripe 
            &:before 
                background-color: white

            &:after 
                background-color: white

                
    &:hover 
        .menu-stripe 
            background-color: $menu-stripe-color-h

            &:before,
            &:after 
                background-color: $menu-stripe-color-h
            

            &:before 
                top: -10px
            

            &:after 
                top: 10px
    

.page-content 
    -webkit-transform: translateZ(0)
    -webkit-backface-visibility: hidden

    height: 100%
    transition-property: transform
    transition-duration: .4s
    position: relative
    z-index: 2
    color: white
    padding: 20px

    &.slide-content 
        @include transform(translateX($side-menu-w))
