/* You can add global styles to this file, and also import other style files */

body
    margin: 0px !important


.form-control
    > .control
        width: 100%
        border-radius: 5px
        border: 1px solid #dcdcdc 

    > .label
        width: 100%
        display: block
        height: 20px
        padding: 5px
        text-align: left